{% extends 'base.html' %}

{% block page_title %}{{ blog.name }}{% endblock %}

{% block back_button %}
 <a href={% url 'blogs_url' %}>List of all blogs</a>
{% endblock %}

{% block content %}
<div id="blog-description">{{ blog.description }}</div>

<div id="blog-posts">
{% for post in posts %}
  <div class="blog-post">
    <h3 class="blog-post-title">
      <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
    </h3>

    {% include 'post_info_and_content.html' %}
  </div>
{% endfor %}
  <div id="blog-pagination">
    <span id="blog-pagination-links">
      {% if posts.has_previous %}
        <a href="?page={{ posts.previous_page_number }}">previous</a>
      {% endif %}

      <span class="current">
        Page {{ posts.number }} of {{ posts.paginator.num_pages }}.
      </span>

      {% if posts.has_next %}
        <a href="?page={{ posts.next_page_number }}">next</a>
      {% endif %}
    </span>
  </div>
</div>

<div id="blog-posts-sidebar">
  {% include 'tag_cloud.html' %}
</div>
{% endblock %}
