{% extends "base.html" %}

{% block page_title %}List of blogs{% endblock %}

{% block back_button %}
  <a href={% url 'home_url' %}>Back home</a>
{% endblock %}

{% block content %}
<ul id="all-blogs">
{% for blog in blogs %}
  <li>
    <a href="{{ blog.get_absolute_url }}">{{ blog.name }}</a>:
    {{ blog.description }}

    (Authors:
    {% for author in blog.authors.all %}
      {{ author.get_full_name }}{% if forloop.last %}){% else %},{% endif %}
    {% endfor %}

  </li>
{% endfor %}
</ul>

{% for tag in tag_cloud %}
  <div class="blog-tag" style="font-size: {{ tag.size }}em">
    {{ tag.tag }}
  </div>
{% endfor %}

{% endblock %}
