{% extends "base.html" %}
{% block content %}

<h2>{{ blog.name }}</h2>

<div id="blog-posts">
{% for post in posts %}
  {% url 'blog_post_url' blog.slug post.id post.slug as post_url %}
  <h3><a href="{{ post_url }}">{{ post.title }}</a></h3>

  <span class="blog-timestamps">
    Published on {{ post.time_published }}
    Last modified {{ post.time_modified }}
  </span>

  <div class="blog-content">
    {{ post.content }}
  </div>

  {% if not forloop.last %}<hr>{% endif %}
{% endfor %}
</div>

{% endblock %}
