{% extends "base.html" %}

{% block body_id %}edit-blog-post{% endblock %}

{% block page_title %}Edit post{% endblock %}

{% block back_button %}
  <a href={% url 'blog_post_url' post.blog.slug post.id post.slug %}>
    &larr; Back to post</a>
{% endblock %}

{% block content %}
<form action="{% url 'edit_blog_post_url' post.id post.slug %}" method="post">
  {% csrf_token %}
  <table>
    {{ form.as_table }}
  </table>

  {% if post.is_published %}
    <input type="submit" name="publish" value="Update Published Post" />
  {% else %}
    <input type="submit" name="save" value="Update draft" />
    <input type="submit" name="publish" value="Publish" />
  {% endif %}
</form>

{% include 'upload_image_links.html' %}
{% endblock %}
