{% extends "base.html" %}

{% block body_id %}new-blog-post{% endblock %}

{% block page_title %}Add a new post{% endblock %}

{% block back_button %}
  <a href={% url 'home_url' %}>&larr; Back home</a>
{% endblock %}

{% block content %}
<form action="{% url 'new_blog_post_url' %}" method="post">
  {% csrf_token %}
  <table>
    {{ form.as_table }}
  </table>
  <input type="submit" name="save" value="Save as Draft" />
  <input type="submit" name="publish" value="Publish" />
</form>

{% include 'markdown_preview.html' %}
{% include 'upload_image_links.html' %}
{% endblock %}
