{% load blog_extras %}

<div class="blog-post-info">
  <span class="blog-post-author">
    By {{ post.author.get_full_name }}
  </span>

  <span class="blog-post-views">
    {{ post.get_number_of_views }}
    view{{ post.get_number_of_views|pluralize }}
  </span>

  <span class="blog-post-timestamps">
    Published on {{ post.time_published }}
    {% if post.time_modified > post.time_published %}
    Modified on {{ post.time_modified }}
    {% endif %}
  </span>

</div>

<div class="blog-post-content">
  {% if truncation_factor %}
    {{ post.content|extended_markdown|truncatechars_html:truncation_factor }}
  {% else %}
    {{ post.content|extended_markdown }}
  {% endif %}
</div>

{% if truncation_factor %}
  {% ifnotequal post.content|truncatechars:truncation_factor post.content %}
  <span class="blog-post-read-more">
    <a href="{{ post.get_absolute_url }}">read more</a>
  </span>
  {% endifnotequal %}
{% endif %}

{% if post.tags.all|length %}
<span class="blog-post-tags">
  tag{{ post.tags.all|pluralize }}:
  {% for tag in post.tags.all %}
    {{ tag }}{% if not forloop.last %}, {% endif %}
  {% endfor %}
</span>
{% endif %}
