{% extends 'base.html' %}

{% block page_title %}{{ post.title }}{% endblock %}

{% block back_button %}
  {% url 'blog_url' post.blog.slug as blog_url %}
  <a href={{ blog_url }}>&larr; Back to {{ post.blog.name }}</a>
{% endblock %}

{% block content %}
<div id="single-blog-post" class="blog-post">
  {% include 'post_info_and_content.html' %}

  <div id="disqus_wrapper">
    <div id="disqus_thread"></div>
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = 'myblogtestsite'; // required: replace example with your forum shortname

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  </div>
</div>

{% endblock %}
