{% extends 'base.html' %}

{% block page_title %}{{ post.title }}{% endblock %}

{% block back_button %}
  {% url 'blog_url' post.blog.slug as blog_url %}
  <a href={{ blog_url }}>&larr; Back to {{ post.blog.name }}</a>
{% endblock %}

{% block content %}
<div id="single-blog-post" class="blog-post">
  {% include 'post_info_and_content.html' %}

  {% if post.is_published %}
  <div id="disqus_wrapper">
    <div id="disqus_thread"></div>
    {% include 'disqus.html' %}
  </div>
  {% endif %}
</div>

{% endblock %}
