{% extends "base.html" %}
{% load blog_extras %}

{% block page_title %}{{ post.title }}{% endblock %}

{% block back_button %}
  {% url 'blog_url' post.blog.slug as blog_url %}
  <a href={{ blog_url }}>Back to {{ post.blog.name }}</a>
{% endblock %}

{% block content %}
<div class="blog-post">
  <div class="blog-post-info">
    <span class="blog-post-timestamps">
      Published on {{ post.time_published }}
      Last modified {{ post.time_modified }}
    </span>

    <span class="blog-post-views">
      Number of views: {{ post.get_number_of_views }}
    </span>
  </div>

  <div class="blog-post-content">
    {{ post.content|extended_markdown }}
  </div>
</div>
{% endblock %}
