{% load blog_extras %}

<div class="blog-post-info">
  <span class="blog-post-timestamps">
    Published on {{ post.time_published }}
    Last modified {{ post.time_modified }}
  </span>

  <span class="blog-post-views">
    Number of views: {{ post.get_number_of_views }}
  </span>
</div>

<div class="blog-post-content">
  {% if truncation_factor %}
    {{ post.content|extended_markdown|truncatechars:truncation_factor }}
  {% else %}
    {{ post.content|extended_markdown }}
  {% endif %}
</div>
