$background-color: #ccc
$base-font-size: 16px
$base-font-family: Georgia, serif

// reset default styles
@import reset

body
  background: $background-color
  font-size: $base-font-size
  font-family: $base-font-family
