$background-color: #fdfdfd
$base-font-size: 16px
$base-font-family: Helvetica, Arial, sans-serif
$vertical-spacing: 20px

// reset default styles
@import reset
@import font

body
  background: $background-color
  padding: $vertical-spacing * 3

h1, h2, h3, h4
  margin-bottom: $vertical-spacing
