$lighter-gray: #eee
$light-gray: #ccc
$light-blue: #c8d4f0
$light-yellow: #fff2d2
$gray: #888
$dark-gray: #555
$spacing: 40px
$max-post-width: 650px

.blog-post
  float: left
  clear: both
  width: 100%

  .blog-post-info
    float: left
    width: 100%
    margin-bottom: $spacing / 4

    .blog-post-author, .blog-post-publication-status
      float: left
      margin-right: $spacing / 4

    .blog-post-publication-status
      color: red
      font-weight: bold

    .blog-post-edit-button
      float: left

    .blog-post-views
      color: $dark-gray
      float: right
      font-size: 14px
      padding-top: 1px

    .blog-post-timestamps
      float: left
      clear: both
      color: $gray
      font-style: italic
      font-size: 14px

  .blog-post-content
    float: left
    clear: both

    h1, h2, h3, h4, ul, p
      margin-bottom: $spacing / 4
      &:last-child
        margin-bottom: 0

    h1
      font-size: 24px
    h2
      font-size: 22px
    h3
      font-size: 20px
    h4
      font-size: 18px

  .blog-post-read-more
    float: left
    clear: both
    margin-top: $spacing / 4

  .blog-post-tags
    float: left
    clear: both
    margin-top: $spacing / 2


////////////////////
// ALL BLOGS PAGE //
////////////////////
#all-blogs
  #blogs
    float: left

    li
      margin: $spacing / 3 0


///////////////
// BLOG PAGE //
///////////////
#blog-description
  margin-bottom: $spacing

#blog-posts
  float: left
  width: 100%
  max-width: $max-post-width

  .blog-post
    border-bottom: 1px solid $light-gray
    padding-top: $spacing
    padding-bottom: $spacing

    &:first-child
      padding-top: 0

    &.blog-post-not-yet-published
      padding-top: $spacing
      background: repeating-linear-gradient(45deg, $light-yellow, $light-yellow 10px, transparent 10px, transparent 20px)

    .blog-post-title
      float: left
      margin-bottom: $spacing / 4

    .blog-post-content
      border-left: $spacing / 4 solid $light-gray
      padding-left: $spacing / 2

#blog-pagination
  width: 100%
  max-width: $max-post-width

#blog-sidebar
  float: right
  width: 100%
  max-width: 200px

  .blog-sidebar-section
    float: left
    width: 100%
    padding: $spacing 0
    border-bottom: 1px $light-gray solid

    &:last-child
      padding-bottom: 0
      border-bottom: none

    .blog-sidebar-subsection
      float: left
      width: 100%
      margin-bottom: $spacing / 2

      &:last-child
        margin-bottom: 0

  #blog-tag-cloud
    span
      float: left
      clear: none
      padding: 2px


//////////////////////
// SINGLE POST PAGE //
//////////////////////
#single-blog-post
  width: 100%
  max-width: $max-post-width


///////////////////
// ADD POST PAGE //
///////////////////
form
  th
    text-align: left
    vertical-align: top

  th, td
    padding: $spacing / 4 0

  th
    padding-right: $spacing / 4

  .helptext
    color: $gray
    font-style: italic
    font-size: 14px


#image-upload-links
  a
    float: left
    clear: both
    margin-top: $spacing


#uploaded-images
  border-bottom: 1px solid $gray
  border-left: 1px solid $gray

  th, td
    vertical-align: middle
    border-top: 1px solid $gray
    border-right: 1px solid $gray
