<!DOCTYPE html>
<html lang="en">
  {% include "head.html" %}

  <body id="{% block body_id %}{% endblock %}">
    <span id="back-button">
      {% block back_button %}{% endblock %}
    </span>

    <div id="authentication">
      {% if user.is_authenticated %}
        Welcome, {{ user.first_name }}!
        <br>
        <a href="{% url 'logout_url' %}?next={{ request.path }}">
          Log out</a>
      {% else %}
        <a href="{% url 'login_url' %}?next={{ request.path }}">
          Log in</a>
      {% endif %}
    </div>

    <h1 id="site-title">Some Website</h1>

    <h2 id="page-title">{% block page_title %}{% endblock %}</h2>

    <div id="content">
      {% block content %}{% endblock %}
    </div>
  </body>
</html>
